/* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
.btn {
    position: relative;
    z-index: 3;
    display: inline-block;
    background-color: #d66508;
    padding: 12px 52px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

.btn_first:after {
    content: ' ';
}