/* ---------------------------------------------------------------------
 Utility Navigation
------------------------------------------------------------------------ */
.utilNav {
    display: none;
    float: right;
    width: auto;
}

.utilNav-item {
    width: auto;
}

.utilNav-item > a {
    width: auto;
}