/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.hdg {

}

.hdg_1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
}

.hdg_2 {
    font-size: 45px;
    text-transform: uppercase;
}