/* ---------------------------------------------------------------------
 Main Content Container
------------------------------------------------------------------------ */
.mainContent {
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
}

.mainContent_pad {
    padding-bottom: 300px;
}