.utlty-isHidden {
  display: none; }

.utlty-isCollapsed {
  height: 0;
  overflow: hidden; }

.utlty-isError {
  border-color: #8b1717;
  color: #8b1717; }

.utlty-isDisabled {
  opacity: 0.6;
  cursor: pointer; }

.utlty-mbOff {
  margin-bottom: 0; }

.utlty-disBlck {
  display: block; }

/* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
@font-face {
  font-family: 'icomoon';
  src: url('../media/fonts/icomoon.eot?md0fi9');
  src: url('../media/fonts/icomoon.eot?#iefixmd0fi9') format('embedded-opentype'), url('../media/fonts/icomoon.woff?md0fi9') format('woff'), url('../media/fonts/icomoon.ttf?md0fi9') format('truetype'), url('../media/fonts/icomoon.svg?md0fi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
 Base Elements
------------------------------------------------------------------------ */
html, body {
  height: 100%; }

body {
  color: #ffffff;
  font: 16px/1.42857142857 "Courier New", Courier, monospace;
  /* Line-height: 20/14 = 1.42857142857 */
  font-weight: bold;
  background-image: url(../media/images/texture.gif);
  background-repeat: repeat;
  background-attachment: fixed; }

a {
  color: #009fdf;
  transition: color 0.25s ease;
  text-decoration: none; }

a:focus, a:hover {
  color: #59cbe8; }

small {
  color: #6e6259;
  font-weight: normal;
  font-size: 11px; }

p {
  margin-bottom: 20px; }

img {
  max-width: 100%; }

input[type="text"], input[type="password"] {
  height: 18px;
  padding: 1px 6px;
  border: 1px solid #009fdf; }
  input[type="text"] ::-webkit-input-placeholder, input[type="password"] ::-webkit-input-placeholder {
    color: #a59c94; }
  input[type="text"] :-moz-placeholder, input[type="password"] :-moz-placeholder {
    /* Firefox 18- */
    color: #a59c94; }
  input[type="text"] ::-moz-placeholder, input[type="password"] ::-moz-placeholder {
    /* Firefox 19+ */
    color: #a59c94; }
  input[type="text"] :-ms-input-placeholder, input[type="password"] :-ms-input-placeholder {
    color: #a59c94; }

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */

.hdg_1 {
  text-align: center;
  margin-bottom: 24px; }

/* ---------------------------------------------------------------------
 Scene
------------------------------------------------------------------------ */
.scene {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: 3; }

/* ---------------------------------------------------------------------
 Mountain
------------------------------------------------------------------------ */
.mountain {
  position: absolute;
  left: -25%;
  bottom: 0;
  width: 150%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center bottom; }

.mountain_1 {
  height: 206.5px;
  background-image: url(../media/images/mount_01.png); }

.mountain_2 {
  height: 268.5px;
  background-image: url(../media/images/mount_02.png); }

.mountain_3 {
  height: 279.5px;
  background-image: url(../media/images/mount_03.png); }

.mountain_4 {
  height: 134.5px;
  background-image: url(../media/images/mount_04.png); }

.mountain_5 {
  height: 144.5px;
  background-image: url(../media/images/mount_05.png); }

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 150px; }

.logo > img {
  width: 50%; }

/* ---------------------------------------------------------------------
 Rays
------------------------------------------------------------------------ */
.rays {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  z-index: 0;
  -webkit-transform: scale(1.5) translate(0, 150px);
  -moz-transform: scale(1.5) translate(0, 150px);
  -ms-transform: scale(1.5) translate(0, 150px);
  -o-transform: scale(1.5) translate(0, 150px);
  transform: scale(1.5) translate(0, 150px); }

/* ---------------------------------------------------------------------
 Cloud
------------------------------------------------------------------------ */
.cloudScene {
  display: none;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 300px;
  z-index: 0; }

.cloud {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  opacity: 0.75; }

.cloud_1 {
  width: 822px;
  height: 229px;
  background-image: url(../media/images/cloud_01.png);
  left: -50%;
  top: -70px; }

.cloud_2 {
  top: 100px;
  width: 522px;
  height: 174px;
  background-image: url(../media/images/cloud_02.png);
  right: -25%; }

/* ---------------------------------------------------------------------
 Main Content Container
------------------------------------------------------------------------ */
.mainContent {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0 auto; }

/* ---------------------------------------------------------------------
 Site
------------------------------------------------------------------------ */
.site {
  padding-bottom: 300px; }

.site-hd {
  overflow: hidden;
  margin-bottom: 24px; }

/* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
.btn {
  position: relative;
  z-index: 3;
  display: inline-block;
  background-color: #d66508;
  padding: 12px 52px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter; }

.btn_first:after {
  content: ' '; }

/* ---------------------------------------------------------------------
 Utility Navigation
------------------------------------------------------------------------ */
.utilNav {
  overflow: hidden;
  width: 100%; }

.utilNav-item {
  float: left;
  width: 50%; }

.utilNav-item > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center; }

/* ---------------------------------------------------------------------
 MapBox
------------------------------------------------------------------------ */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

@media screen and (min-width: 320px) {
  /* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: Min-Width 320px
------------------------------------------------------------------------ */ }

@media screen and (min-width: 768px) {
  /* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: Min-Width 768px
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Rays
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Cloud
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Mountain
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Main Content Container
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
  /* ---------------------------------------------------------------------
 Utility Navigation
------------------------------------------------------------------------ */
  .rays {
    -webkit-transform: scale(3) translate(0, 50px);
    -moz-transform: scale(3) translate(0, 50px);
    -ms-transform: scale(3) translate(0, 50px);
    -o-transform: scale(3) translate(0, 50px);
    transform: scale(3) translate(0, 50px); }
  .cloudScene {
    display: block; }
  .mountain_1 {
    height: 413px; }
  .mountain_2 {
    height: 537px; }
  .mountain_3 {
    height: 559px; }
  .mountain_4 {
    height: 269px; }
  .mountain_5 {
    height: 289px; }
  .mainContent {
    width: 60%; }
  .btn {
    padding: 13px 52px;
    font-size: 22px;
    line-height: 1; }
  .btn_sub:before {
    content: '- or -';
    position: absolute;
    font-size: 10px;
    top: 19px;
    left: -18px;
    z-index: 1;
    color: #ffffff; }
  .utilNav {
    float: right;
    width: auto; }
  .utilNav-item {
    width: auto; }
  .utilNav-item > a {
    width: auto; } }

@media screen and (min-width: 1280px) {
  /* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: Min-Width 1280px
------------------------------------------------------------------------ */ }
