/* ---------------------------------------------------------------------
 Rays
------------------------------------------------------------------------ */
.rays {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    z-index: 0;
    -webkit-transform: scale(1.5) translate(0, 150px);
    -moz-transform: scale(1.5) translate(0, 150px);
    -ms-transform: scale(1.5) translate(0, 150px);
    -o-transform: scale(1.5) translate(0, 150px);
    transform: scale(1.5) translate(0, 150px);
}