// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------
$COLOR_PRIME_BLUE: #009fdf;
$COLOR_MID_BLUE: #59cbe8;
$COLOR_LIGHT_BLUE: #99d6ea;
$COLOR_LIGHTER_BLUE: #d6eff7;
$COLOR_MED_GRAY: #a59c94;
$COLOR_LIGHT_GRAY: #bfb8af;
$COLOR_LIGHTER_GRAY: #f2f1ef;
$COLOR_DARK_BROWN: #3f2021;
$COLOR_LIGHT_BROWN: #6e6259;
$COLOR_LIGHT_YELLOW: #fff7e5;
$COLOR_WHITE: #ffffff;
$COLOR_ERROR: #8b1717;
$COLOR_BLACK: #000000;
// $COLOR_ERROR: #989898;
