/* ---------------------------------------------------------------------
 Base Elements
------------------------------------------------------------------------ */
html,
body {
    height: 100%;
}

body {
    color: #ffffff;
    font: 16px/1.42857142857 "Courier New", Courier, monospace; /* Line-height: 20/14 = 1.42857142857 */
    font-weight: bold;
    background-image: url(../media/images/texture.gif);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    color: $COLOR_PRIME_BLUE;
    transition: color 0.25s ease;
    text-decoration: none;
}

a:focus,
a:hover {
    color: $COLOR_MID_BLUE;
}

small {
    color: $COLOR_LIGHT_BROWN;
    font-weight: normal;
    font-size: 11px;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

input[type="text"],
input[type="password"] {
    height: 18px;
    padding: 1px 6px;
    border: 1px solid $COLOR_PRIME_BLUE;
    @include placholder($COLOR_MED_GRAY);
}