/* ---------------------------------------------------------------------
 quickLinks
------------------------------------------------------------------------ */
.quickLinks {
    display: none;
    position: fixed;
    right: 12px;
    padding: 32px;
    background-color: rgba(255,255,255,0.15);
}