/* ---------------------------------------------------------------------
 Mountain
------------------------------------------------------------------------ */
.mountain_1 {
    height: 413px;
}

.mountain_2 {
    height: 537px;
}

.mountain_3 {
    height: 559px;
}

.mountain_4 {
    height: 269px;
}

.mountain_5 {
    height: 289px;
}