{#
 # This template is loaded whenever the URL matches a Blog section entry,
 # because the Blog section's "Entry Template" setting is set to "blog/_entry".
 #
 # Craft will pre-populate an 'entry' variable with the matched Blog entry
 # when loading this template.
 #
 # See: http://docs.buildwithcraft.com/reference/routing.html
 #}

{% extends "_layout" %}
{% set title = entry.title %}


{% block content %}
    <div class="mainContent">
        <div class="blogListing">
            <article class="blogPreview">
                <h2 class="hdg hdg_2">
                    <a href="{{ blogPost.url }}">{{ entry.title }}</a>
                </h2>
                <p>By {{ entry.author }} -- {{ entry.postDate|date('M d, Y') }}</p>

                {% if entry.image | length %}
                    {% for asset in entry.image %}
                        <div class="imgPreview" style="background-image: url({{ asset.url }})"></div>
                    {% endfor %}
                {% endif %}

                {{ entry.body }}
            </article>
        </div>
    </div>
{% endblock %}