{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}

<div class="mainContent">
	<div class="blogListing">
		{% for blogPost in craft.entries.section('blog').status('live,pending').find() %}
			<article class="blogPreview">
				<h2 class="hdg hdg_2">
					<a href="{{ blogPost.url }}">{{ blogPost.title }}</a>
				</h2>
				<p>By {{ blogPost.author }} -- {{ blogPost.postDate|date('M d, Y') }}</p>

				{% if blogPost.image | length %}
				    {% for asset in blogPost.image %}
				    	<div class="imgPreview" style="background-image: url({{ asset.url }})"></div>
				    {% endfor %}
				{% endif %}

				{{ blogPost.body.getPage(1) }}
				<p><a href="{{ blogPost.url }}">Read More…</a></p>
			</article>
		{% else %}
			<div class="blogPreview">
				<p>No posts yet :(</p>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
