{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}

<div class="mainContent">
	<div class="blogListing">
		{% paginate craft.entries.section('blog').status('live,pending').limit(3) as entries %}
			{% for blogPost in entries %}
				<article class="blogPreview">
					<h2 class="hdg hdg_2">
						<a href="{{ blogPost.url }}">{{ blogPost.title }}</a>
					</h2>
					<p>By {{ blogPost.author }} -- {{ blogPost.postDate|date('M d, Y') }}</p>

					{% if blogPost.image | length %}
					    {% for asset in blogPost.image %}
					    	<!-- <div class="imgPreview" style="background-image: url({{ asset.url }})"></div> -->
					    	<img class="js-lazyload" src="asset.url" alt="" />
					    {% endfor %}
					{% endif %}

					{{ blogPost.body.getPage(1) }}
					<p><a href="{{ blogPost.url }}">Read More…</a></p>
				</article>
			{% else %}
				<div class="blogPreview">
					<p>No posts yet :(</p>
				</div>
			{% endfor %}

			<div class="paginateion">
				{% if paginate.prevUrl %}<a href="{{ paginate.prevUrl }}">< Previous Page</a>{% endif %}
			    {% if paginate.nextUrl %}<a href="{{ paginate.nextUrl }}">Next Page ></a>{% endif %}
			</div>
		{% endpaginate %}
	</div>
</div>

{% endblock %}
