{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<svg id="js-rays" class="rays" preserveAspectRatio="xMinYMin meet" viewBox="0 0 600 600"></svg>

<ul class="cloudScene js-cloudScene" data-limit-y="0" data-scalar-x="20">
    <li class="layer" data-depth="0.40">
        <div class="cloud cloud_1"></div>
    </li>
    <li class="layer" data-depth="0.40">
        <div class="cloud cloud_2"></div>
    </li>
</ul>

<ul class="scene js-scene" data-limit-y="0" data-scalar-x="20">
    <li class="layer" data-depth="0.20">
        <div class="mountain mountain_1"></div>
    </li>
    <li class="layer" data-depth="0.40">
        <div class="mountain mountain_2"></div>
    </li>
    <li class="layer" data-depth="0.60">
        <div class="mountain mountain_3"></div>
    </li>
    <li class="layer" data-depth="0.80">
        <div class="mountain mountain_4"></div>
    </li>
    <li class="layer" data-depth="1.00">
        <div class="mountain mountain_5"></div>
    </li>
</ul>

<ul class="quickLinks js-quickLinks">
	{% for block in entry.homecontent %}
		<li><a href="#{{block.quickLink}}">{{ block.quickLink }}</a></li>
	{% endfor %}
</ul>

<div class="mainContent mainContent_pad">
    <a href="{{ siteUrl }}" class="logo">
        <img src="{{ siteUrl }}_static/web/assets/media/images/logo.png" alt="" />
    </a>

    {% for block in entry.homecontent %}
    	<div class="contentBlock" id="{{ block.quickLink }}">
    		<div class="contentBlock-hd">
    			<h2 class="hdg hdg_1">{{ block.heading }}</h2>
    		</div>
    		<div class="contentBlock-bd">
    			<p>{{ block.body }}</p>
    		</div>
    	</div>
	{% endfor %}


</div>
{% endblock %}


























