{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	<a href="{{ siteUrl }}" class="logo logo_alt">
        <img src="{{ siteUrl }}_static/web/assets/media/images/logo.png" alt="" />
    </a>

	<div class="construction">
		<div class="loader" title="5">
		  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		     width="100px" height="100px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
		    <rect x="0" y="13" width="4" height="5" fill="#333">
		      <animate attributeName="height" attributeType="XML"
		        values="5;21;5"
		        begin="0s" dur=".6s" repeatCount="indefinite" />
		      <animate attributeName="y" attributeType="XML"
		        values="13; 5; 13"
		        begin="0s" dur=".6s" repeatCount="indefinite" />
		    </rect>
		    <rect x="10" y="13" width="4" height="5" fill="#333">
		      <animate attributeName="height" attributeType="XML"
		        values="5;21;5"
		        begin=".15s" dur=".6s" repeatCount="indefinite" />
		      <animate attributeName="y" attributeType="XML"
		        values="13; 5; 13"
		        begin=".15s" dur=".6s" repeatCount="indefinite" />
		    </rect>
		    <rect x="20" y="13" width="4" height="5" fill="#333">
		      <animate attributeName="height" attributeType="XML"
		        values="5;21;5"
		        begin=".3s" dur=".6s" repeatCount="indefinite" />
		      <animate attributeName="y" attributeType="XML"
		        values="13; 5; 13"
		        begin=".3s" dur=".6s" repeatCount="indefinite" />
		    </rect>
		  </svg>
		</div>
	</div>

	{% set locations = craft.entries.section('pins').limit(1000).find() %}

	<ul class="locations">
		{% for location in locations %}
		    <li data-title="{{ location.title }}" data-lat="{{ location.mapPin.lat }}" data-lng="{{ location.mapPin.lng }}" data-description="{{ location.description }}">
		    	<span class="title">{{ location.title }}</span>
		    	<span class="date">{{ location.postDate|date("F d, Y") }}</span>
		    	<ul class="address">
		    		<li>{{ location.mapPin.street1 }}</li>
		    		{% if location.mapPin.state %}
		    		<li>{{ location.mapPin.city }}, {{ location.mapPin.state }}, {{ location.mapPin.zip }}</li>
		    		{% endif %}
		    	</ul>
		    	<p class="description">{{ location.description }}</p>
				<ul class="posts">
					{% for related in location.relatedPost %}
						<li>{{ related.getLink() }}</li>
					{% endfor %}
				</ul>
	    	</li>
		{% endfor %}
	</ul>

	<div id="map" class="dark"></div>

{% endblock %}
