{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	{% set locations = craft.entries.section('pins').find() %}

	<a href="{{ siteUrl }}" class="logo logo_alt">
        <img src="{{ siteUrl }}_static/web/assets/media/images/logo.png" alt="" />
    </a>

	<div class="construction">
		<h1>Map Content Coming Soon!</h1>
		<img src="{{ siteUrl }}_static/web/assets/media/images/trailer.png" alt="trailer" />
	</div>

	<ul class="locations">
		{% for location in locations %}
		    <li data-title="{{ location.title }}" data-lat="{{ location.mapPin.lat }}" data-lng="{{ location.mapPin.lng }}" data-description="{{ location.description }}">
		    	<span class="title">{{ location.title }}</span>
		    	<ul class="address">
		    		<li>{{ location.mapPin.street1 }}</li>
		    		{% if location.mapPin.state %}
		    		<li>{{ location.mapPin.city }}, {{ location.mapPin.state }}, {{ location.mapPin.zip }}</li>
		    		{% endif %}
		    	</ul>
		    	<p class="description">{{ location.description }}</p>
				<ul class="posts">
					{% for related in location.relatedPost %}
						<li>{{ related.getLink() }}</li>
					{% endfor %}
				</ul>
	    	</li>
		{% endfor %}
	</ul>

	<div id="map" class="dark"></div>

{% endblock %}
