/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}

.logo > img {
    width: 50%;
}