/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    position: relative;
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto 150px;
    z-index: 1;
}

.logo_alt {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 25%;
    margin-bottom: 0;
}

.logo > img {
    width: 100%;
}