/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

.logo > img {
    width: 50%;
}